#banner h2
{
    color: #666666;
    font-family: "Arial Black";
    font-size: 40px;
    text-shadow: 0 0 !important;
    margin: 0;
    padding: 7px 0;
    text-align: center;
}
.thumb-speaker-small
{
    float: left;
    margin: 7px;
    width: 73px;
    height: 62px;
    border: 2px solid #CCCCCC;
    background: #F5F5F5;
}
.list-item-content-speaker
{
 padding-left:90px;   
}
.list-item-speaker
{
 min-height:67px;
}
.list-item-content-schedule
{
   
}

.list-item-schedule
{
 min-height:130px;
}
.session-time-speaker
{
    background: #FF9999;
    padding: 4px;
    margin-bottom:12px;
    color: #993333;
    font-weight:bold;
    -webkit-border-radius:  2px/2px; 
    -moz-border-radius:  2px/2px; 
    border-radius:  2px/2px; 
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
