<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render 'layouts/head' %>
</head>
<body>
  <div data-role="page" id="first">
    <div data-role="header" data-theme="b">
      <h1><%= header %></h1>
    </div>    
    <div data-role="content" data-theme="b">
      <%= yield %>
    </div>
    <div data-role="footer" data-theme="b">
      <h1>Footer</h1>
    </div>    
  </div>
</body>
</html>
